.log_in {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -150px;
  background-color: aliceblue;
  height: 300px;
  width: 300px;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

li {
  list-style: none;
  padding: 10px;
  justify-content: space-between;
}
.loginbutton {
  color: rgb(6, 217, 236);
  border: none;
  text-align: center;
  cursor: pointer;
}
h1 {
  text-align: center;
}
.registe {
  font-size: 10pt;
  text-align: right;
  padding-right: 10px;
}
